In [1]:
import pandas as pd
import sqlite3
from numpy import float32
from numpy import int32

dtype  = {'Density': int32,
 'LandArea': int32,
 'ArmedForcesSize': int32,
 'CallingCode': int32,
 'Co2-Emissions': int32,
 'Population': int32,
 'Urban_population': int32,
 'AgriculturalLand': float32,
 'BirthRate': float32,
 'ForestedArea': float32,
 'CPI': float32,
 'CPIChange': float32,
 'FertilityRate': float32,
 'InfantMortality': float32,
 'OutOfPocketHealthExpenditure': float32,
 'PhysiciansPerThousand': float32,
 'MinimumWage': float32,
 'MaternalMortalityRatio': float32,
 'LifeExpectancy': float32,
 'GrossPrimaryEducationEnrollment': float32,
 'GrossTertiaryEducationEnrollment': float32,
 'GDP': float32,
 'GasolinePrice': float32,
 'PopulationLaborForceParticipation': float32,
 'TaxRevenue': float32,
 'TotalTaxRate': float32,
 'UnemploymentRate': float32,
 'Latitude': float32,
 'Longitude': float32}

with sqlite3.connect('/kaggle/input/world-data/world.sqlite') as connection:
    df = pd.read_sql_query(sql="SELECT * FROM world", con=connection, dtype=dtype, )

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            107 non-null    object
 1   Density                            107 non-null    int32
 2   Abbreviation                       107 non-null    object
 3   AgriculturalLand                   107 non-null    float32
 4   LandArea                           107 non-null    int32
 5   ArmedForcesSize                    107 non-null    int32
 6   BirthRate                          107 non-null    float32
 7   CallingCode                        107 non-null    int32
 8   Capital                            107 non-null    object
 9   Co2-Emissions                      107 non-null    int32
 10  CPI                                107 non-null    float32
 11  CPIChange                          107 non-null    float32
 12  Currency-Code                      107 non-null    object
 13  FertilityRate                      107 non-null    float32
 14  ForestedArea                       107 non-null    float32
 15  GasolinePrice                      107 non-null    float32
 16  GDP                                107 non-null    float32
 17  GrossPrimaryEducationEnrollment    107 non-null    float32
 18  GrossTertiaryEducationEnrollment   107 non-null    float32
 19  InfantMortality                    107 non-null    float32
 20  LargestCity                        107 non-null    object
 21  LifeExpectancy                     107 non-null    float32
 22  MaternalMortalityRatio             107 non-null    float32
 23  MinimumWage                        107 non-null    float32
 24  OfficialLanguage                   107 non-null    object
 25  OutOfPocketHealthExpenditure       107 non-null    float32
 26  PhysiciansPerThousand              107 non-null    float32
 27  Population                         107 non-null    int32
 28  PopulationLaborForceParticipation  107 non-null    float32
 29  TaxRevenue                         107 non-null    float32
 30  TotalTaxRate                       107 non-null    float32
 31  UnemploymentRate                   107 non-null    float32
 32  Urban_population                   107 non-null    int32
 33  Latitude                           107 non-null    float32
 34  Longitude                          107 non-null    float32
dtypes: float32(22), int32(7), object(6)
memory usage: 17.3+ KB

In [2]:
df.head()

,Country,Density,Abbreviation,AgriculturalLand,LandArea,ArmedForcesSize,BirthRate,CallingCode,Capital,Co2-Emissions,...,OutOfPocketHealthExpenditure,PhysiciansPerThousand,Population,PopulationLaborForceParticipation,TaxRevenue,TotalTaxRate,UnemploymentRate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.099998,652230,323000,32.490002,93,Kabul,8672,...,78.400002,0.28,38041754,48.900002,9.300000,71.400002,11.12,9797273,33.939110,67.709953
1,Albania,105,AL,43.099998,28748,9000,11.780000,355,Tirana,4536,...,56.900002,1.20,2854191,55.700001,18.600000,36.599998,12.33,1747593,41.153332,20.168331
2,Algeria,18,DZ,17.400000,2381741,317000,24.280001,213,Algiers,150006,...,28.100000,1.72,43053054,41.200001,37.200001,66.099998,11.70,31510100,28.033886,1.659626
3,Angola,26,AO,47.500000,1246700,117000,40.730000,244,Luanda,34693,...,33.400002,0.21,31825295,77.500000,9.200000,49.099998,6.89,21061025,-11.202692,17.873886
4,Argentina,17,AR,54.299999,2780400,105000,17.020000,54,Buenos Aires,201348,...,17.600000,3.96,44938712,61.299999,10.100000,106.300003,9.79,41339571,-38.416096,-63.616673